<link rel="stylesheet" href="css/view.css">
{{>header}}
<div class="container-view">
{{>add-customers}}
    <div class="view-customers-body">
        <div class="column">
            <table>
                <thead>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Customer Address</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </thead>
                {{!-- <div class="frame"> --}}
                    {{#each rows}}
                    <tr>
                        <td>{{this.CustomerId}}</td>
                        <td>{{this.CustomerName}}</td>
                        <td>{{this.CustomerAddress}}</td>
                        <td>{{this.CustomerNote}}</td>
                        <td class="action">
                            <a href="/view-customer-profile/{{this.CustomerId}}" id="view">View</a>
                            <a href="/update-customer/{{this.CustomerId}}" id="update">Update</a>
                            <a href="/delete-customer/{{this.CustomerId}}" id="delete">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                    {{!--
                </div> --}}
            </table>
        </div>
    </div>
</div>